* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background-color: black;
    /*overflow: hidden;*/
    /*top: 2.5rem;*/
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    justify-content: flex-start;
    height: 100vh;
}

img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.15rem;
    cursor: pointer;
    z-index: 2;
}

h1 {
    color: white;
    font-size: 32rem;
    position: relative;
    line-height: 1;
}

p {
    color: white;
    font-size: 5rem;
}

h3 {
    color: white;
    font-size: 6rem;
}

h4 {
    color: white;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: stretch
}

.right {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 20%;
    height: 100vh;

}

.small-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
    border: 1px white solid;
}
